﻿
@{
    ViewBag.Title = "Human Resources";
    Layout = "~/Views/Shared/_Internal.cshtml";
}

<div class="jumbotron">
    <h1 class="sgi">HUMAN RESOURCES DIRECTORATE</h1>
    <p class="tagline">GATEWAY TO SG INDUSTRIES, LTD : BUILDERS OF GREAT STUFF</p>
</div>
<div class="welcome">
    <p style="padding-bottom: 25px; text-align: center; font-weight: bold; text-decoration: underline;">DIRECTORATE NEWS</p>

    <p style="padding-bottom: 25px; font-size: 20px;">(Dateline SGI Headline News - Akron Feb 12, 2016) In a news conference
        at the AFCEA Defense & Industrial Conference in Washington DC this morning, SG Industries CEO James Pettigrew Washington 
        announced that Roy Carswall has been recruited as Vice President of SGI's new Articial Intelligence Research & Development
        Division. Carswall, the former Director of Engineering at Google is considered the world's leading futurist and the world's
        foremost authority in artificial intelligence, is famous for his life-extending research which he claims has enabled him to
        be healthy, active and productive at the age of 99 years. SGI chief J.P. Washington stated that Carswall's mandate is the
        achievement of the singularity in which man and computers become integrated, an idea that will surely give SGI a competitive
        advantage in the defense sector.
    </p>

    <p style="padding-bottom: 5px; text-align: center; font-weight: bold;">A MESSAGE FROM CEO 
        <img src="~/Content/Graphics/JP.png" style="border-radius: 50%; width: 100px; height: 100px; padding: 4px; border: 1px solid #000;" /> JP WASHINGTON</p>

    <p style="padding-bottom: 25px; font-size: 20px;">
        I want to thank everyone for their tireless support of our campaign to
        recruit Roy Carswall to our ranks. He is a fantastically fabulous addition to our amazingly innovative and ridiculously
        profitable enterprise.
    </p>
</div>